.form-group.songItem{
	margin-top: 10px;
}

.col-md-4.sidebar{
	height: 100%;
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    overflow-x: hidden;
}
.contentHead{
	position: relative;
	background-color: #F9F9F9;
	height: 40px;
	width: 100%;
	padding-left: 10px;
	padding-top: 10px;
}

.form-group a:hover{
    text-decoration: none;
}
.navbar-right img{
	width: 32px;
	height: 32px;
}




/*Style for seek*/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug*/
    /*border: 1px solid white;*/
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #F6B26F;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #F6B26F;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead*/ 
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border*/ 
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #F6B26F;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.form-group.songName{
    color: #FF7E00;
}

.form-group.seperate{
     margin-left:10px;
     margin-right:10px;
     font-size: 15px;
     color: #B4B4B4;
}

.form-horizontal.formPlay{
    margin-left: 200px;
}

/*End Style for Seek*/




.listSong{
    padding: 0px;
}



