@font-face {
   font-family: myFirstFont;
   src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
   font-family: quicksandbold;
   src: url(../fonts/Quicksand-Bold.otf);
}

Quicksand-Bold

label {
   font-family: quicksandbold;
}

.plTitle {
	font-family: myFirstFont;
}

/*body {
	background-image: url("../images/bg.jpg");
    background-repeat: repeat-xy;
}*/
