header{
	background-color: #FF7E00;
}
body{
	background-color: #F2F2F2;
}
.wrapPage{
	background-color:#FFFFFF;
	margin: 0 auto;
	padding: 15px 12px 0;
	width: 1000px;
}
.input-group{
	float: left;
    margin-top: 10px;
    margin-left: 100px;
    position: relative;
    width: 355px;
}

.navbar {
border: medium none;
margin-bottom: 0;
}

li#hot{
	margin-left: 160px;
}
nav li:hover{
	background-color: #FFFFFF;
	
}
nav li a{
	font-size: 16px;
}
#logo{
	float: left;
	margin-left: 0;
}

.navbar-right {
    margin-right: 0px;
}


footer{
	background-color:  #FF7E00;
    overflow: hidden;
    padding: 20px 0 0;
    position: relative;
    z-index: 9999999;

}

.form-horizontal.registerForm{
	text-align: center;
	width: 550px;
	height: 450px;
	padding-right: 75px;
	margin-top: 50px;
	margin-left: 200px;
	background-color: #FAFAFA;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group{
	margin-bottom: 30px;
}
input#name{
	background-image:url(../images/username.png);
	background-repeat:no-repeat;
	background-position:6px;
	padding-left:35px;
}

input#password{
	background-image:url(../images/password.png);
	background-repeat:no-repeat;
	background-position:6px;
	padding-left:35px;
}

input#password-confirm{
	background-image:url(../images/password.png);
	background-repeat:no-repeat;
	background-position:6px;
	padding-left:35px;
}

input#email{
	background-image:url(../images/email.png);
	background-repeat:no-repeat;
	background-position:6px;
	padding-left:35px;
}

.form-horizontal.signInForm{
	padding-left: 85px;
}

.form-horizontal.forgetPassForm{
	background-color: #FAFAFA;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 815px;
	margin-top: 80px;
	margin-left: 90px;
}

#navUser{
	margin-top: 7px;
	color: #E3E3E3;
}
