/*Style for Playlist Player*/
.form-horizontal.formPlay{
    margin-top: 20px;
    margin-left: 150px;
}
#previous{
	margin-left: 5px;
}
#seek{
	margin-left: 50px;
}
#durationTime{
	margin-left: 30px;
}
#volume-seek{
	margin-left: 15px;
}
/*#currentTime{
	margin-left: 10px;
}*/
#mutedMusic{
	margin-left: 30px;
}
#repeatSong{
	margin-left: 30px;
}

/*style for playList*/
.form-group.plNum{
	width: 30px;
}
.form-group.plTitle{
	width: 450px;
	margin-left: 10px;
}
.form-inline.plItem{
	height: 50px;
	padding-top: 10px;	
}

.playListForm li a{
	color: #000000;
	font-size: medium;
}

.active{
	background-color: #FEDAC2;
}

.panel-body.playListPanel{
  height:500px;
  overflow-y:scroll;
  padding-left: 5px;
  padding-top: 2px;
}
.panel-body.shortplayList{
	height:520px;
  	padding-left: 5px;
  	padding-top: 2px;
}

.playListForm li a:hover{
	color: #FF8C3F;

}

#dwnBtn{
	margin-left: 20px;
}
#upBtn{
	margin-left: 120px;
}

.demo{
	color: #FA0303;
}
